.feature-card {
    background-color: #000; 
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    max-width: 179px;
}

.feature-card img {
    width: 40px; 
    height: auto;
    margin-bottom: 10px;
}

.feature-card .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #c0a991;
}

.feature-card .content {
    color: gray;
    margin:auto
}
