.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    padding: 20px; 
    margin: 0;
}

@media (max-width: 767px) {
    .features-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      grid-gap: 20px; 
      padding: 20px; 
      margin: 0; 
      width: 100%; 
    }
  }