.navbar {
  margin-right: 10%;
  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.2); 
}

.navbar-left {
  margin-left: 40%; 
  display: flex;
  align-items: center;
  position: relative; 
}

.navbar-right {
  margin-left: 10px; 
  display: flex;
  align-items: center;
}


.border-style {
  position: relative;
  padding-bottom: 10px;
}

.border-style::before {
  content: '';
  position: absolute;
  bottom: 0; 
  left: 35%; 
  width: calc(65% - 10px);
  height: 2px; 
  background-color: #ffffff31; 
}


.btn-signin {
  background: none !important;
  border: 2px solid #FFF !important; 
  color: #FFF;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
}

.btn-signin i {
  margin-right: 5px;
}


@media (max-width: 767px) { 
  .navbar-left, .navbar-right {
    display: none; 
  }

  .navbar-toggler {
    display: block; 
    background: none; 
  }

  .hamburger-icon {
    display: block; 
    color: #FFF; 
    font-size: 24px; 
  }

  .border-style {
    display: none; 
  }
  .border-style::before {
    content: '';
    position: absolute;
    height: 0px; 
  }
}